# Fetching data and Snowflake dependencies
yfinance
pandas
snowflake-connector-python
snowflake-connector-python[pandas]

# ML training and registry
scikit-learn
mlflow

# dbt pipeline
dbt-core 
dbt-snowflake
astronomer-cosmos